/.vscode
/visualized_data/*
/libcity/tmp/*
/libcity/__pycache__
/libcity/*/__pycache__
/libcity/data/dataset/__pycache__
/.idea
/libcity/log/*
/libcity/model/*/__pycache__
/libcity/data/dataset/*/__pycache__
/libcity/cache/model_cache/*
/libcity/cache/evaluate_cache/*
/raw_data/METR_LA/METR_LA.dyna
/raw_data/METR_LA/METR_LA.geo
/raw_data/METR_LA/METR_LA.rel
/raw_data/PEMS_BAY/PEMS_BAY.dyna
/raw_data/PEMS_BAY/PEMS_BAY.geo
/raw_data/PEMS_BAY/PEMS_BAY.rel